# Core PySpark dependencies
pyspark==3.5.1
py4j
tabulate
pandas
# Iceberg dependencies
pyiceberg

# AWS dependencies
boto3
s3fs

# Logging dependencies
python-json-logger


# Development tools
black
flake8
isort